<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">
	<th:block layout:fragment="title">
		<title>로그인 페이지</title>
	</th:block>
	<th:block layout:fragment="add-css"><link rel="stylesheet" th:href="@{/static/css/engnr/engnrMypage.css}" /></th:block>
	<th:block layout:fragment="centerHeader"><h5>엔지니어 정보</h5></th:block>
	<th:block layout:fragment="rightHeader">
		<img src="/static/img/commons/setting.png" id="engnrSetting" onclick="location.href='/engnr/engnrSetting'">
	</th:block>
	
 <th:block layout:fragment="content">
 <div class="container">
	<div class="engnrProfil">
		<a th:href="@{/showImage/engnr/{engnrNo}(engnrNo = ${engnr.engnrNo})}">
			<img class="preImg" th:src="@{/boilergisa/engnr/{engnrNo}(engnrNo = ${engnr.engnrNo})}">
		</a>
	</div>
	<div class="inputEngnrInfo">	
	  <div class="engnrDetail">
	  	<h5 th:text="${engnr.getEngnrName()}">엔제니어 이름</h5>
	  </div>
	  <div class="engnrDetail">
	  	<p>주소:<span th:text="${engnr.getAddress1()}"></span><span th:text="${engnr.getAddress2()}"></span></p>
	  </div>
	  <div class="engnrDetail">
	  	<p>Tel.<span th:text="${engnr.getEngnrNumber()}"></span></p>
	  </div>
	  <div class="engnrDetail">
	  	<label>엔지니어 및 사업장 소개</label>
	  	<p class="engnrIntro" th:text ="${engnr.getEngnrIntro()}"></p>
	  	<p class="btn_more">더보기</p><br>
	  </div>	  
	  <div class="engnrDetail">
	  	<p>업체유형<span th:text="${engnr.getBusinessType()}"></span></p>
	  </div>
	<div class="businessTime">
		<label>영업시간</label>
		<div class="dateInfo">
			<p>평일</p>
			<p>토요일</p>
			<p style="color:#FF9900;">휴무일 </p>
		</div>
		<div class="timeInfo">
			<p th:if="${#strings.isEmpty(engnr.getWorkTime1())}" th:text="@{없음}"></p>
			<p th:if="${#strings.isEmpty(engnr.getWorkTime2())}" th:text="@{없음}"></p>
			<p th:if="${#strings.isEmpty(engnr.getBreakTime())}" th:text="@{없음}"></p>
		</div>
	</div>
	</div>
	<div class="gradeInfo">			
		<p class="gradeRecord" ><span th:text="${engnr.getEngnrRating()}"></span>/5 점<span class="engnrRecord"> count </span>기록</p>
	</div>
 </div>
 
 </th:block>
 <th:block layout:fragment="engnrBottom">
   <ul class="engnrBottom">
   <li onclick="location.href='/engnr/engnrHome'">
	<img src="/static/img/engnr/home-bgs-partner_off.png">
	<p>홈</p>
   </li>
  <li onclick="location.href='/engnr/engnrOrder'">
	<img src="/static/img/engnr/order-bgs-partner_off.png">
		<p>견적서</p>
   </li>
   <li onclick="location.href='/engnr/engnrChatbox'">
   	<img src="/static/img/engnr/care-bgs-partner_off.png">
   	<span id="unread" class="label label-warning"></span>
	<p>상담</p>	
   </li>
   <li onclick="location.href='/engnr/myRecordList'">
	<img src="/static/img/engnr/story-bgs-partner_off.png">
		<p>기록</p>
   </li>
   <li class='on' onclick="location.href='/engnr/engnrMypage'">
	<img src="/static/img/engnr/mypage-bgs-partner_on.png">
	<p>마이페이지</p>	
   </li>
  </ul>
 </th:block>
</body>
</html>