<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">

	<th:block layout:fragment="title">
		<title>로그인 페이지</title>
	</th:block>
	<th:block layout:fragment="add-css">
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
		<link rel="stylesheet" th:href="@{/static/css/commons/showImage.css}" />
	</th:block>
	
	<th:block layout:fragment="leftHeader"><img src="/static/img/commons/arrow-back.png" onclick="history.back();"></th:block>
	<th:block layout:fragment="centerHeader"><h5 th:text="${engnr.engnrName}"></h5></th:block>
	
 <th:block layout:fragment="content">

	<div class="swiper-container">
		<ul class="swiper-wrapper">
			<li class="swiper-slide" th:each="row, status:${fileList}"id="idx1">
				<img th:src="@{|/uploadType/${row.typePath}/${row.typeNo}/${row.fileIdx}|}">	
			</li>
		</ul>
		<div class="swiper-pagination"></div>
	</div>
	 <div class="operationImage">
	 
   <ul>
	   	<li id="delBtn">
	   		<a th:href="@{|/deleteType/${fileInfo.typePath}/${fileInfo.typeNo}/|}"></a>
	   		<img src="/static/img/commons/delBtn_wht.png">
	   	</li>
   </ul>
 </div>

 
 </th:block>

</body>
<th:block layout:fragment="script">
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script th:src="@{/static/script/commons/showImage.js}"></script>
</th:block>
</html>