<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" th:href="@{/static/css/commons/bgs.css}" />
<link rel="stylesheet" th:href="@{/static/css/commons/index.css}" />
<link rel="stylesheet" th:href="@{/static/plugin/bootstrap/css/bootstrap.min.css}" />

</head>

<body>
<div class="content">
	<img src="/static/img/commons/background_main.jpg"/>
	<div class="info">
		<p  onclick="location.href='/custmr/custmrRegister'">이메일로 가입하기</p><p  onclick="location.href='/custmr/custmrLogin'">로그인</p>
	</div>
</div>
<div th:replace="fragments/modal :: modal"></div>

<script th:inline="javascript">
var result = [[${result}]];
	if(result === "logout"){
		$('#checkMessage').html('로그아웃 했습니다.');  
		$("#checkModal").modal('show');
	} 
</script>
</body>
</html>